*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
}

.companyLogo {
	text-indent: -100000em;
	overflow: hidden;
	line-height: 1px;
}

.coming {
	font-size: 2em;
	font-family: fantasy,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color:darkblue;
}

main p {
	line-height: 2em;
}
section
{
	padding: 1em;
}

/* Forms */
label 
{ 
	margin: 0.6em 0.6em 0 0;
	width: 100px; 
	padding: 0.2em;	
}

#lastName,#firstName {
	margin-left: 27px;
}

#question {
	margin-left: 17px;
}

.questionDiv {
	display: flex;
	align-items: center;
}
input, select, textarea 
{ 
	margin: 1em 0 0 0; 
}

input, fieldset, textarea, select
{ 
	border: 1px solid #CCC; 
	padding: 0.5em;
}


input[type=submit], input[type=reset]
{ 
	margin-right: 20px;
}

input[type=submit], input[type=reset]
{ 
	margin-bottom: 20px;
}

.error
{
	background-color: #d33;
	color: #fff;
	padding: 0.2em ;
}

.message
{
	color: #d33;;
	padding: 0.2em;
	align-self: center;
	margin: 0.6em 0.6em 0 0;
}