*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
}

/* Headings */
h1 
{  
	color: #666; 
	font-size: 1.5em; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

p
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: flex;
}

header, footer
{
	background-color: #CCC;
	padding: 1em;
}



section
{
	padding: 1em;
}

/* Navigation */

nav 
{
	text-align: right;
}
nav li
{
	display: inline-block;
	padding-right: 1em;
}

nav a
{
	color: #000099;
}


/* Forms */
label 
{ 
	text-align: right;
	margin: 0.6em 0.6em 0 0;
	width: 300px; 
	padding: 0.2em;
}

input, select, textarea 
{ 
	margin: 1em 0 0 0; 
}

input, fieldset, textarea
{ 
	border: 1px solid #CCC; 
	padding: 0.5em;
}

legend
{
	color: #666;
}

input[type=submit], input[type=reset], input[type=radio]
{ 
	margin-right: 20px;
}

input[type=submit], input[type=reset]
{ 
	margin-bottom: 20px;
}

.radioLabel
{
	width: auto	;
	display: inline;
}

.error
{
	background-color: #d33;
	color: #fff;
	padding: 0.2em ;
}