body
{
	font-family: Arial, Helvetica, sans-serif;
}

nav
{
	width: 300px;
	float: left;
}

#products
{
	margin-left: 320px;
}


td, th, table
{
	border: 1px solid #CED3DC;
	border-collapse: collapse;
	padding: 5px;
}

th
{
	background-color: #90C2E7;
	border: 1px solid #90C2E7;
}

tr:nth-child(odd)
{
	background-color: #CED3DC;
}