body
{
	font-family: Arial, Helvetica, sans-serif;
	background: pink;
}

article
{
	border-bottom: 1px solid #ccc;
}

#wrapper
{
	width: 960px;
	margin: auto;
}

.photo 
{
	float: right;
	margin-left: 20px;
}