body
{
	font-family: Arial, Helvetica, sans-serif;
	background: greenyellow;
}

label
{
	line-height: 2em;
}

#wrapper
{
	width: 960px;
	margin: auto;
	background: #ddd;
	opacity: 0.8;
}

.photo 
{
	float: right;
	margin-left: 20px;
}

.employee {
	display: flex;
	justify-content: center;
	
}

.employeeDetails img{
	display: block;
}